.root {
  display: flex;
  gap: 20px;
  li {
    border: 1px solid #fe5f1e;
    border-radius: 50%;
    padding: 6px 0px;
    &:hover {
      background: #fe5f1e;
    }
    &:active {
      transform: translateY(1px);
    }
    a {
      user-select: none;
      cursor: pointer;
      padding: 5px 12px;
      color: #fe5f1e;
      &:hover {
        color: white;
      }
    }
  }

  :global {
    .selected {
      background: #fe5f1e;
      a {
        color: white;
      }
    }
  }
}

.placeholder {
  height: 36px;
}
